<template lang="html">

  <section class="create-an-order">
    <h1>create-an-order Component</h1>
  </section>

</template>

<script lang="js">
  export default  {
    name: 'create-an-order',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .create-an-order {

  }
</style>
