<template>
  <div class="body">
    <div class="container">
      <ol class="steps">
        <li class="step is-active" data-step="1">
          <!-- is-complete -->
          Chưa gửi
        </li>
        <li class="step " data-step="2">
          Đang xử lý
        </li>
        <li class="step " data-step="3">
          Đã báo giá
        </li>
        <li class="step" data-step="4">
          Đang đặt hàng
        </li>
        <li class="step" data-step="5">
          Đã đặt hàng
        </li>
        <li class="step" data-step="5">
          Thành công
        </li>
    </ol>
    <div class="box-search row">
       <form action="" class="col-md-6" style="background:#fff">
          <div class="input-group mb-4">
            <input type="search" placeholder="Mời bạn nhập đường dẫn" aria-describedby="button-addon5" class="form-control" v-model="url">
            <div class="input-group-append">
              <button id="button-addon5" type="submit" class="btn btn-danger" v-on:click="search">Lấy thông tin sản phẩm</button>
            </div>
          </div>
        </form>
        <div class="col-md-6">
          <div class="input-group-append">
              <button id="button-addon5" type="submit" class="btn btn-danger" style="width:100%" v-on:click="viewCart">Xem đơn hàng | Có 0 Shop | 0 Link</button>
            </div>
        </div>
    </div>
    <div class="content">
      <div class="add-info" v-bind:class="{ none_info: isNone }">
        <h4 class="text-danger">Để đặt hàng từ các website Hàn Quốc, quý khách vui lòng thêm sản phẩm vào đơn hàng
           bằng cách nhập thông tin vào form dưới đây. Xin chân thành cảm ơn!</h4>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Stt</th>
              <th scope="col" style="width:70px">Ảnh</th>
              <th scope="col">Thuộc tính</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá</th>
              <th scope="col">Ghi chú</th>
            </tr>
          </thead>
          <tbody  v-bind:key="i" class="bcart" v-for="i in inputProduct" v-html="i">

            <!-- <span  >
              {! i !}
            </span> -->


          </tbody>

        </table>
        <button class="btn btn-outline-info" v-on:click="addProduct">
          Thêm sản phẩm
        </button>
        <button class="btn btn-outline-danger float-right">
            Thêm vào đơn hàng
        </button>
      </div>
      <div class="viewcart" v-bind:class="{ none_cart: cartIsNone }">
        <h4 class="text-danger">
          Chưa có sản phẩm nào trong đơn hàng
        </h4>
      </div>
    </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'CreateAnOrder',
  data () {
    return {
      isNone: true,
      cartIsNone: true,
      url: null,
      urlServer:[
        'abc.com',
        'xyz.com'
      ],
      inputProduct:['<tr><th scope="row">1</th><td><input type="file" style=""></td><td><input type="text" placeholder="Tên sản phẩm"><br><input type="text" placeholder="Thuộc tính"><br><input type="text" placeholder="Link sản phẩm"></td><td><input type="number" placeholder="Số lượng"></td><td><input type="text" placeholder="Giá"></td><td><textarea name="" id="" cols="20" rows="5"></textarea></td></tr>']
    }
  },
  methods:{
    search: function(event){
      if(!this.urlServer.includes(this.url)){
        this.cartIsNone = true;
        this.isNone = false;
      }
    },
    viewCart: function(event){
      this.isNone = true;
      this.cartIsNone = false;
    },
    addProduct: function(event){
      this.inputProduct.push('<tr><th scope="row">1</th><td><input type="file" style=""></td><td><input type="text" placeholder="Tên sản phẩm"><br><input type="text" placeholder="Thuộc tính"><br><input type="text" placeholder="Link sản phẩm"></td><td><input type="number" placeholder="Số lượng"></td><td><input type="text" placeholder="Giá"></td><td><textarea name="" id="" cols="20" rows="5"></textarea></td></tr>');
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.none_cart{
  display: none;
}
.none_info{
  display: none;
}

.content{
  border:1px solid #f68e20;
  padding:16px;
}
.steps {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: table;
	 table-layout: fixed;
	 width: 100%;
	 color: #929292;
   height: 4rem;
   margin-top:50px
}
 .steps > .step {
	 position: relative;
	 display: table-cell;
	 text-align: center;
	 font-size: 0.875rem;
	 color: #6d6875;
}
 .steps > .step:before {
	 content: attr(data-step);
	 display: block;
	 margin: 0 auto;
	 background: #fff;
	 border: 2px solid #e6e6e6;
	 color: #e6e6e6;
	 width: 2rem;
	 height: 2rem;
	 text-align: center;
	 margin-bottom: -4.2rem;
	 line-height: 1.9rem;
	 border-radius: 100%;
	 position: relative;
	 z-index: 1;
	 font-weight: 700;
	 font-size: 1rem;
}
 .steps > .step:after {
	 content: '';
	 position: absolute;
	 display: block;
	 background: #e6e6e6;
	 width: 100%;
	 height: 0.125rem;
	 top: 1rem;
	 left: 50%;
}
 .steps > .step:last-child:after {
	 display: none;
}
 .steps > .step.is-complete {
	 color: #6d6875;
}
 .steps > .step.is-complete:before {
	 content: '\2713';
	 color: #f68e20;
	 background: #fef0e2;
	 border: 2px solid #f68e20;
}
 .steps > .step.is-complete:after {
	 background: #f68e20;
}
 .steps > .step.is-active {
	 font-size: 1.5rem;
}
 .steps > .step.is-active:before {
	 color: #fff;
	 border: 2px solid #f68e20;
	 background: #f68e20;
	 margin-bottom: -4.9rem;
}
/* search */
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
</style>
